
.body {
    background-color: #D2B8F2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.heading{
      font-family: "Karla", sans-serif;
      font-size: 52px;
      letter-spacing: 2px;
}

.text-content {
     font-family: "Lato", sans-serif;
     font-size: 22px;
     letter-spacing: 2px;
}

.header {
    background-color: #d8f2b8;
    border-bottom: black;
    border-style: dashed;
    border-width: 10px;

}



