
.body {
    background-image:url(../images/gallery/gallery-background.avif);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 70px;
    background-size: cover;
    background-repeat: no-repeat;
}


.heading{
      font-family: "Karla", sans-serif;
      font-size: 52px;
      letter-spacing: 2px;
      border-bottom: black dashed 7px;
      padding-bottom: 50px;
}

.text-content {
    font-family: "Lato", sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    background-color: #d8f2b8;
    border-bottom: black dashed 10px;
    align-items: flex-start;
    padding: 10px;
}

.images {
    width: 50px;
    height: 40px;
    background-color: #D2B8F2;
    width: 100%;
    display: flex;
}



