
body {
    
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 70px;
    background-color: #080129;
}


.h1{
      font-family: "Karla", sans-serif;
      font-size: 52px;
      letter-spacing: 2px;
      padding-bottom: 50px;
      color: #EAE4F0;
      text-align: center;
}

.text-content {
    font-family: "Lato", sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #EAE4F0;
    text-align: center;
    background-color: #080129;
}

.content {
    border-bottom: #EAE4F0 dashed 10px;
    align-items: flex-start;
    padding: 10px;
    background-image: url(../images/gallery/background-2.jpg);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (3, 1fr);
    grid-gap: 10px;
    padding: 10px;   
    background-color: #d8f2b8;
}

.grid-container img {
    width: 100%;
    height: auto;
}

.image {
    transition: transform 0.4s ease-in-out, filter 0.8s ease-in-out;
}

.image:hover {
    transform: scale(1.07); 
}



