.hero img{
    width: 100%;
    max-width: 1280px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-right: 100px;
    padding: 0;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.intro {
    display: flex;
    text-align: center;
}

.intro h1 {
    font-size: 48px;
    margin-bottom: 20px;

}